.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
}

form input {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--black);
    width: 100%;
}

.btn.btn-peach-outline.log-out {
    color: var(--peach);
    background-color: var(--white);
}

.btn.btn-peach-outline.log-out:hover {
    color: var(--white);
    background-color: var(--peach);
}

.account .cards-tournament-grid {
    grid-template-columns: repeat(2, 1fr);
}

.account h1 {
    margin-bottom: 40px;
}