@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@font-face {
    font-family: 'Horizon';
    src: url('../fonts/horizon.otf') format('opentype');
}

:root {
    --peach: #fe8879;
    --cassis: #6c37ff;
}

h1 {
    font-family: 'Horizon', sans-serif;
}

p,
a {
    font-family: "Quicksand", sans-serif;
}